.main-body{
 box-shadow: inset -1px 6rem 0rem 1px rgba(229, 228, 228, 0.38);
 padding: 10px 40px 2px 40px;
width: 90%;
margin: auto;
font-size: 21px;
}

@media only screen and (max-width: 680px) {
   .main-body{
     box-shadow: none;
     padding: 1px;
     font-size: 18px;
   }
}

.date-time{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.pager{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.prev{
 background-color: #297f7bf0;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.1rem;
}

.next{
    background-color: #297f7bf0;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.1rem;
}

.prev a, .next a{
  text-decoration: none;
  color: white;
}

.social{
  display: flex;
  justify-content: center;
  list-style: none;
}