.posts{
  box-shadow:  1px 3px 2px #000000;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid;
    transition: all .2s;
}

.posts:hover{

    box-shadow:0 10px 10px;
}

